/* home page  */
.carousel-item img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.collections{
    background-image: url('../images/start\ shopping\ section/section1.jpg'); 
    /* background-image: url('images/section1.jpg');  */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: fit-content;
    margin: 0;
}

/* footer media query */
@media (max-width: 767px){
    footer .col-md-4{
        text-align: center;
    }
}
