{% extends 'base.html' %} {% block title %}Admin Dashboard{% endblock %} {%
block body %}

<!-- Toast Notification -->
<div class="toast-container position-fixed top-5 p-2" style="z-index: 1080">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  'register_pm1' %}
  <div
    class="toast align-items-center text-white bg-secondary border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">{{ message | safe }}</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>

<div class="container my-2">
  <h4 class="text-dark text-center fw-bold">ADMIN PANEL</h4>
</div>

<!-- Registration Button   -->
<div class="container my-2 d-flex justify-content-end">
  <a href="{{ url_for('admin.add_product_manager') }}">
    <button
      class="btn btn-dark border border-2 border-light justify-content-end"
      type="button"
    >
      Register Product Manager
    </button>
  </a>
</div>

<div class="container"></div>
{% endblock %}
